<h3 class="command">新規投稿</h3>
<%= form_for @tweet do |f| %>
  <div class="field">
    <p class="choice">PDF投稿</p>
  <%= f.file_field :file %>
  <div class="field">
    <p class="choice">文字投稿</p>
    <%= f.text_area :body,class:"size" %>
  </div>
  <div class="field">
    <p class="choice">画像投稿 </p>
    <%= f.file_field :image %>
  </div>
  <%= f.label :tag_list, 'タグをカンマ区切りで入力' ,class:"tweetstag" %>
  <%= text_field_tag 'tweet[tag_list]', @tweet.tag_list, :class => "form-control" %>
  <%= f.submit "Tweetする", class:"button" %>
<% end %>
<%= link_to "Tweet一覧に戻る", tweets_path %>


