<h1>投稿者情報</h1>
<p>名前 : <%= @user.name %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.tweets.each do |t| %>
  <%= t.user.name %>
  <%= t.body %>
<% end %>



<%= link_to "Tweet一覧に戻る", tweets_path %>
<% if @user.id == current_user.id %>
    <hr>
    <% @roomsowner.each do |room| %>
        <div class="tweet"> 
        <% sender = User.find(room.sender_id) %>
        <% tweet = Tweet.find(room.tweet_id) %>
        <%= tweet.body %>
        <br>
        <%= image_tag tweet.image_url, size: "250x200" if tweet.image? %>
        <%= link_to "#{sender.name}", "/rooms/#{tweet.id}/#{sender.id}" %>
        <%= room.created_at %>  
        </div>
    <% end %>
    <hr>
    <% @roomssender.each do |room| %>
        <div class="tweet">
        
        
        <% owner = User.find(room.owner_id) %>
        <% tweet = Tweet.find(room.tweet_id) %>
        <%= tweet.body %>
        <br>
        <%= image_tag tweet.image_url, size: "250x200" if tweet.image? %>
        <%= link_to "#{owner.name}", "/rooms/#{tweet.id}/#{current_user.id}" %>
        <%= room.created_at %>
        
        </div>
    <% end %>
<% end %>